{% extends "layout.html" %}
{% block body %}
<h1>Welcome</h1>
<div class="center">
	<p>此页面修改管理员密码，请设置8位以上强密码。</p>
	<div>
		<form name = "change_admin_password" action = "{{ url_for('change_admin_password') }}" method = "POST">
			<table>
				<tr>
					<td>请输入原密码:</td>
					<td><input type = "password" name = "admin_password"></td>
				</tr>
				<tr>
					<td>请输入新密码:</td>
					<td><input type = "password" name = "admin_newpassword1"></td>
				</tr>
				<tr>
					<td>请再次输入新密码:</td>
					<td><input type = "password" name = "admin_newpassword2"></td>
				</tr>
				<tr>
					<td><input type = "submit" value = "确定"></td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}