{% extends "layout.html" %}
{% block body %}
<h2>register</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div class="center">
	<form action="{{ url_for('register') }}" method = "POST">
		<table>
			<tr>
				<th>用户名:</th>
				<td><input type = "text" name = "username"></td>
			</tr>
			<tr>
				<th>密码:</th>
				<td><input type = "password" name = "password"></td>
			</tr>
			<tr>
				<th>请再次输入密码:</th>
				<td><input type = "password" name = "password2"></td>
			</tr>
			<tr>
				<th>e-mail:</th>
				<td><input type = "text" name = "email"></td>
			</tr>
			<tr>
				<th>权限:</th>
				<td><input type = "text" name = "access"></td>
			</tr>
			<tr>
          		<td><input type = "submit" value = "Login"></td>
          </tr>
		</table>
	</form>
</div>
{% endblock %}